.Title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-left:55px;
    margin-top:0px;
    margin-bottom:35px;
    display: flex;
}

.MenuTitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: #0068be;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    opacity: 1;
    margin-left:55px;
    margin-top:30px;
    margin-bottom:0px;
    display: flex;
    font-weight: 500;
}

.SubTitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--black);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-top:30px;
    margin-bottom:20px;
    display: flex;
}

.List{
    top: 182px;
    left: 120px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    display: block;
    padding: 40px;
}

.Id{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-medium);
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--grey);
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #999999;
    opacity: 1;
}

.NexchiefAccount{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--black);
    text-align: left;
    font: normal normal medium 16px/24px Roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
}

.ButtonStatus{
    width: 60px;
    height: 32px;
    background: var(--nc-primary-1) 0% 0% no-repeat padding-box;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border-color: transparent;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--white);
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0;
    text-align: center;
}

.ListBody{
    width: 1200px;
    height: 69px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    overflow: hidden;
    margin-top: -4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.HeadTable{
    width: fit-content;
    height: 70px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    padding: 17px 0px 17px 0px;
}

.GridItemHead{
    justify-content: center;
    display: flex;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--grey);
    text-align: left;
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #999999;
    opacity: 1;
    font-weight: 500;
    align-items: center;
    padding-right:15px;
    /* cursor: pointer; */
}

.GridItemHeadActive{
    justify-content: center;
    display: flex;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--grey);
    text-align: left;
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: black;
    opacity: 1;
    font-weight: 500;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    /* cursor: pointer; */
}

.GridItem{
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-medium);
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--black);
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

.GridContainerHead{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

.GridContainerLuar{
    display: grid;
    grid-template-columns: 80% 20%;
}

.GridItemLuar{
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

.LinkViewDetail{
    letter-spacing: var(--unnamed-character-spacing-0-4);
    text-align: center;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #0068BE;
    opacity: 1;
}

.NumberHeadActive{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: var(--nc-primary-1) 0% 0% no-repeat padding-box;
    background: #3399FF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--white);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.NumberHead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: var(---cccccc) 0% 0% no-repeat padding-box;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--white);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.LabelForm{
    display: block;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto-regular);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--grey);
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
}

.Input, .Input:focus, .Input:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 60%;
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.Input2, .Input2:focus, .Input2:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 75%;
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.InputPhone, .InputPhone:focus, .InputPhone:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.FormItem{
    margin-bottom: 15px;
    font-weight: bold;
}

.Select, .Select:focus, .Select:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 0px;
    width: 60% !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.Select2, .Select2:focus, .Select2:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 0px;
    width: 75% !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.SelectTagsMode, .SelectTagsMode:focus, .SelectTagsMode:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 0px;
    width: 60% !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.SelectPhoneCountryCode, .SelectPhoneCountryCode:focus, .SelectPhoneCountryCode:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.antlect-selector{
    padding-left: 0px;
}

.ButtonArea{
    margin-top: 60px;
    display: flex;
    width: 60%;
    text-align: right;
}

.InputDisabled:disabled{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 75%;
    letter-spacing: var(--unnamed-character-spacing-0-25);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    background: white;
    font-weight: bold;
}

:global(.ant-input-affix-wrapper-disabled){
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 75%;
    letter-spacing: var(--unnamed-character-spacing-0-25);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    background: white;
    font-weight: bold;
}

:global(.ant-input[disabled]) {
    color: #999999;
}

.InputPhoneDisabled:disabled{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    background: white;
    font-weight: bold;
}

.AutoFillContainer{
    display: block;
    border-left: 2px solid #3399FF;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.AutoFill{
    text-align: left;
    font: normal normal medium 14px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    display: block;
}

.AutoFillNotif{
    text-align: left;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.ant-select-multiple .ant-select-selection-item{
    background: tomato;
}

.GridAccountControl{
    width: 65%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* column-gap: 10px; */
}

:global(.ant-select:not(.ant-select-customize-input)) :global(.ant-select-selector){
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

:global(.ant-form-item-has-error) :global(.ant-input:focus), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper:focus), :global(.ant-form-item-has-error) :global(.ant-input-focused), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper-focused){
    box-shadow: none;
}

:global(.ant-form-item-has-error) :global(.ant-input-number-focused), :global(.ant-form-item-has-error) :global(.ant-picker-focused), :global(.ant-form-item-has-error) :global(.ant-input-number:focus), :global(.ant-form-item-has-error) :global(.ant-picker:focus){
    box-shadow: none;
}

:global(.ant-form-item-has-error) :global(.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)) :global(.ant-select-selector){
    border-color: transparent !important;
    border-bottom-color: rgb(255, 77, 79) !important;
}

:global(.ant-select-focused) :global(.ant-select-selector),
:global(.ant-select-selector:focus),
:global(.ant-select-selector:active),
:global(.ant-select-open) :global(.ant-select-selector) {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

:global(.ant-checkbox-checked) :global(.ant-checkbox-inner) {
    background-color: #FF4C06;
    border-color: #FF4C06;
}

input{
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .Step {
        display: none !important;
    }
    .NumberHead{
        padding: 0px !important;
        margin: 0px !important;
    }
    .NumberHeadActive{
        padding: 0px !important;
        margin: 0px !important;
    }
    .GridContainerHead{
        padding: 0px !important;
        margin: 0px !important;
        grid-column-gap: 0px;
        column-gap: 0px;
    }
    .GridItemHead{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .GridItemHeadActive{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .HeadTable{
        width: 100%;
    }
    .GridAccountControl{
        width: 60%;
        display: grid;
        grid-template-columns: 100%;
    }
}