.Container {
  height: fit-content;
  padding: 32px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  padding-bottom: 100px;
}

.Wrapper {
  position: relative;
  top: 50px;
  width: 47vw;
  max-width: 400px;
  height: fit-content;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}

body{
  background: #F2F2F2 !important;
}

.Body {
  position: relative;
  width: 47vw;
  max-width: 400px;
  padding: 30px;
  margin: auto;
}

.Body .Title {
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin-bottom: 25px;
}

.Body .Content {
  margin-top: 16px;
}

.Content .Select {
  margin: 16px 0;
}

.Logo{
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

.Paragraph{
  font-size: 12px;
}

.Input, input[type="password"], .Input:focus, .Input:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 0;
    font-weight: 500;
    /* color: #999999; */
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

