.Title{
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-left:55px;
    margin-top:0px;
    margin-bottom:35px;
    display: flex;
}

.MenuTitle{
    color: #0068be;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    opacity: 1;
    margin-left:55px;
    margin-top:30px;
    margin-bottom:0px;
    display: flex;
    font-weight: 500;
}

.SubTitle{
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-top:30px;
    margin-bottom:20px;
    display: flex;
}

.DataManagementContainer{
    margin-top:30px;
    display: block;
    border-left: 2px solid #3399FF;
    padding-left: 10px;
}

.List{
    top: 182px;
    left: 120px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    display: block;
    padding: 40px;
}

.GridItemLuar{
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

.GridItemDalam{
    text-align: center;
}

.GridContainerLuar{
    display: grid;
    grid-template-columns: 85% 15%;
}

.GridContainerDalam{
    display: grid;
    grid-template-columns: 35% 35%;
}

.LabelForm{
    display: block;
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
}

.DetailItem{
    display: block;
    text-align: left;
    font: normal normal medium 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
    padding-top: 0px;
    padding-bottom: 10px;
}

.ButtonComponentActive{
    width: max-content;
    height: max-content;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: 1px solid #5297F7;
    text-align: center;
    padding: 4px 8px;
    margin-right: 10px;
    cursor: pointer;
}

.ButtonComponent{
    width: max-content;
    height: max-content;
    border: 1px solid #5297F7;
    background: white;
    border-radius: 4px;
    opacity: 1;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #3399FF;
    text-align: center;
    padding: 4px 8px;
    margin-right: 10px;
    cursor: pointer;
}

.DataManagement{
    text-align: left;
    font: normal normal medium 14px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    display: block;
}

.CreatedModified{
    text-align: left;
    font: italic normal 300 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    display: block;
}

.ButtonDelete{
    width: 100px;
    height: 40px;
    background: #4E5B66 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/16px Roboto !important;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border-color: #4E5B66;
    margin-right: 10px;
}

.Input, .Input:focus, .Input:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 60%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

:global(.ant-form-item-has-error) :global(.ant-input:focus), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper:focus), :global(.ant-form-item-has-error) :global(.ant-input-focused), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper-focused){
    box-shadow: none;
}

:global(.ant-form-item-has-error) :global(.ant-input-number-focused), :global(.ant-form-item-has-error) :global(.ant-picker-focused), :global(.ant-form-item-has-error) :global(.ant-input-number:focus), :global(.ant-form-item-has-error) :global(.ant-picker:focus){
    box-shadow: none;
}

:global(.ant-switch-handle) {
    position: absolute;
    /* top: 2px; */
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

:global(.ant-switch-checked) :global(.ant-switch-handle) {
    left: calc(100% - 18px - 11.5px);
}

:global(.ant-switch-checked) :global(.ant-switch-inner) {
    margin: 0 25px 0 0px !important;
}

:global(.ant-switch-inner) {
    display: block;
    margin: 0 0px 0 25px !important;
    color: #fff;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    transition: margin 0.2s;
}

:global(.ant-switch-handle::before){
    border-radius: 4px;
}

:global(.ant-switch){
    background-color: #999999;
}

:global(.ant-switch-checked){
    background-color: #3399FF;
}

.InputDisabled:disabled{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 60%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    background: white;
}

.InputPhone, .InputPhone:focus, .InputPhone:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

.InputPhoneDisabled:disabled{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    background: white;
}

.ButtonArea{
    margin-top: 60px;
    display: flex;
    width: 60%;
    text-align: right;
}

.Select, .Select:focus, .Select:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 0px;
    width: 60% !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
}

:global(.ant-select-selection-placeholder){
    color: #999999;
}

:global(.ant-select:not(.ant-select-customize-input)) :global(.ant-select-selector) {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0;
}

.FormItem{
    margin-bottom: 15px;
}

.LabelForm{
    display: block;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto-regular);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--grey);
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
}

/* .InputGroup {
  position: relative;
  margin: 40px 0 20px;
}

.FormItemFloating{
    margin-top: 45px;
    margin-bottom: 15px;
    position: relative;
}

input.floating_input {
  font-size: 18px !important;
  padding: 10px 10px 10px 5px !important;
  display: block !important;
  width: 300px !important;
  border: none !important;
  border-bottom: 1px solid #757575 !important;
} */

/* .InputFloating, .InputFloating:focus, .InputFloating:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    width: 60%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
} */

/* input.floating_input:focus {
  outline: none !important;
} */

/* label.floating_label {
  color: #999 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  position: absolute !important;
  pointer-events: none !important;
  left: 5px !important;
  top: 10px !important;
  transition: 0.2s ease all !important;
  -moz-transition: 0.2s ease all !important;
  -webkit-transition: 0.2s ease all !important;
} */

/* .LabelFloating{
    display: block;
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #999999;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 5px;
    cursor: text;
} */
/* 
input.floating_input:focus ~ label,
input.floating_input:valid ~ label {
  top: -20px !important;
  font-size: 14px !important;
  color: #4285f4 !important;
} */

/* .InputFloating:focus ~ .LabelFloating, .InputFloating:valid ~ .LabelFloating {
    top: -15px;
    display: block;
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
} */

/* animations */
/* @-webkit-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
} */

@media screen and (max-width: 1024px) {
    /* .GridContainerHead{
        padding: 0px !important;
        margin: 0px !important;
    }
    .GridItemHead{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .GridItemHeadActive{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .HeadTable{
        width: 100%;
    } */
}