.InputSearch{
    font-size: 12px !important;
    height: 40px;
    border-radius: 4px;
}

.List{
    cursor: pointer;
}

.List:hover{
    background-color: #80808029;
}

.SuggestionMoreThanOne{
    height: 80px;
    width: 312px;
    padding: 8px 8px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    background: white;
    margin-top:-8px;
    z-index: 1;
    position: absolute;
}

.Suggestion{
    height: 50px;
    width: 312px;
    padding: 8px 8px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    background: white;
    margin-top:-8px;
    z-index: 1;
    position: absolute;
}