@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  font-family: "Roboto";
}

.Name{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-medium);
  letter-spacing: var(--unnamed-character-spacing-0-1);
  color: var(--black);
  text-align: left;
  font: normal normal normal 14px/24px Roboto;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #1A1A1A;
  opacity: 1;
}

.hideOnMobile {
  display: block;
}

.hideOnDesktop {
  display: none;
}

/* Phone */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .hideOnDesktop {
    display: block;
  }
}
