.Title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--black);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-top:50px;
    margin-bottom:20px;
    display: flex;
}

.List{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    display: block;
    padding: 20px 40px;
}

.Id{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-medium);
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--grey);
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #999999;
    opacity: 1;
}

.NexchiefAccount{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--black);
    text-align: left;
    font: normal normal medium 16px/24px Roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
}

.ButtonStatus{
    width: fit-content;
    padding: 10px 5px;
    height: 32px;
    background: var(--nc-primary-1) 0% 0% no-repeat padding-box;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border-color: transparent;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--white);
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ListBody{
    width: 100%;
    height: fit-content;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    overflow-x: auto;
    /* overflow-y: hidden; */
    margin-top: -4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.HeadTable{
    height: 69px;
    min-width: fit-content;
    width: 100%;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto auto 20px auto;
    display: block;
    overflow: hidden;
}

.GridItemHead{
    padding: 20px;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto-regular);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--at-primary-2);
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #4E5B66;
    opacity: 1;
}

.GridItem{
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto-medium);
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--black);
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

.GridContainerHead{
    display: grid;
    grid-template-columns: 15% 25% 25% 25% 10%;
    padding: 10px;
}

.GridItemStatus{
    margin-top: 15px;
    margin-left: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto-regular);
    color: var(--white);
    text-align: center;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    width: fit-content;
    padding: 1px 5px;
    align-items: center;
    height: fit-content;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.GridContainer{
    display: grid;
    grid-template-columns: 15% 25% 25% 25% 10%;
    padding: 10px;
}

.LinkViewDetail{
    letter-spacing: var(--unnamed-character-spacing-0-4);
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #0068BE;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .GridContainerHead{
        grid-template-columns: 100px 200px 300px 400px;
    }
    .GridContainer{
        grid-template-columns: 100px 200px 300px 300px 100px;
    }
    .Title{
        display: block;
    }
    .Filter{
        margin-bottom: 10px;
    }
}