.MenuItem{
    font-weight: bold;
    margin-left: 10px;
    color: grey;
}

.MenuItemActive{
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

.Item{
    background: white !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5vh !important;
}

.Menu{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-inline-start: 0;
    margin-bottom: 0;
    margin-top: 15vh;
    width: 100%;
}

@media screen and (max-height: 650px) {
    .Item{
        margin-bottom: 3vh !important;
    }
    .Menu{
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 61vh;
        padding-inline-start: 0;
        margin-bottom: 0;
        margin-top: 15vh;
        width: 100%;
    }
}