@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  font-family: "Roboto";
}

.hideOnMobile::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f1f1f1;
}

.hideOnMobile::-webkit-scrollbar {
  border-radius: 8px;
  width: 6px;
  background-color: #f1f1f1;
}

.hideOnMobile::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1890ff;
}

.hideOnMobile {
  scrollbar-color: #1890ff #f1f1f1;
  scrollbar-width: thin;
  display: block;
}

.hideOnDesktop::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f1f1f1;
}

.hideOnDesktop::-webkit-scrollbar {
  border-radius: 8px;
  width: 6px;
  background-color: #f1f1f1;
}

.hideOnDesktop::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1890ff;
}

.hideOnDesktop {
  scrollbar-color: #1890ff #f1f1f1;
  scrollbar-width: thin;
  display: none;
}

.buttonLogout {
  bottom: 0;
  position: absolute;
  width: -webkit-fill-available;
  font-size: 14px;
  background-color: white;
  border-color: lightgrey;
  border-right: transparent;
  border-left: transparent;
  border-bottom: transparent;
  align-items: center;
  display: flex;
  height: 7vh;
  cursor: pointer;
}

/* Phone */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .hideOnDesktop {
    display: block;
  }
}
