.Drawer::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.Drawer::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.Drawer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1890ff;
}

.Drawer {
  scrollbar-color: #1890ff #f5f5f5;
  scrollbar-width: thin;
}
