.Title{
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-left:55px;
    margin-top:0px;
    margin-bottom:20px;
    display: flex;
}

.MenuTitle{
    color: #0068be;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    opacity: 1;
    margin-left:55px;
    margin-top:30px;
    margin-bottom:0px;
    display: flex;
    font-weight: 500;
}

.SubTitle{
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-top:30px;
    margin-bottom:20px;
    display: flex;
}

.DataManagementContainer{
    margin-top:30px;
    display: block;
    border-left: 2px solid #3399FF;
    padding-left: 10px;
}

.List{
    top: 182px;
    left: 120px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    display: block;
    padding: 40px;
}

.GridItemLuar{
    text-align: left;
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

.GridItemDalam{
    text-align: center;
}

.GridContainerLuar{
    display: grid;
    grid-template-columns: 85% 15%;
}

.GridContainerDalam{
    display: grid;
    grid-template-columns: 35% 35%;
}

.LabelForm{
    display: block;
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
}

.DetailItem{
    display: block;
    text-align: left;
    font: normal normal medium 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 15px;
}

.ButtonComponentActive{
    width: max-content;
    height: max-content;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: 1px solid #5297F7;
    text-align: center;
    padding: 4px 8px;
    margin-right: 10px;
    cursor: pointer;
}

.ButtonComponent{
    width: max-content;
    height: max-content;
    border: 1px solid #5297F7;
    background: white;
    border-radius: 4px;
    opacity: 1;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #3399FF;
    text-align: center;
    padding: 4px 8px;
    margin-right: 10px;
    cursor: pointer;
}

.DataManagement{
    text-align: left;
    font: normal normal medium 14px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    display: block;
}

.CreatedModified{
    text-align: left;
    font: italic normal 300 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    display: block;
}

.ButtonDelete{
    width: 100px;
    height: 40px;
    background: #4E5B66 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/16px Roboto !important;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border-color: #4E5B66;
    margin-right: 10px;
}

.ButtonCancel, .ButtonCancel:hover{
    width: 100%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--nc-primary-1);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #3399FF;
    opacity: 1;
    border: transparent;
    margin-right: 10px;
    margin-left: auto;
    justify-items: center;
    padding: 0;
}

.ButtonDelete, .ButtonDelete:hover{
    width: 100%;
    height: 40px;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border: transparent;
    margin-right: 0px;
    justify-items: center;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    /* .GridContainerHead{
        padding: 0px !important;
        margin: 0px !important;
    }
    .GridItemHead{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .GridItemHeadActive{
        padding: 0px 0px 0px 0px !important;
        justify-content: center;
        margin: 0px !important;
    }
    .HeadTable{
        width: 100%;
    } */
}