@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.Container {
  padding: 32px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
}

body{
  background: #F2F2F2 !important;
}

.Wrapper {
  position: relative;
  top: 50px;
  width: 47vw;
  max-width: 400px;
  height: fit-content;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}

.Header {
  position: absolute;
  right: 0;
  margin: 16px;
}

.Body {
  position: relative;
  width: 47vw;
  max-width: 400px;
  padding: 30px;
  margin: auto;
}

.Body .Title {
  font-weight: 500;
  margin-bottom: 4vh;
  font-size: x-large;
  text-align: left;
  font-family: "Roboto";
}

.Input, input[type="password"], .Input:hover, .Input:focus{
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid lightgrey;
    padding: 0;
    font-family: "Roboto";
    font-weight: 500;
    /* color: #999999; */
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Logo{
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}

p{
    color: #999999;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    margin-top: 5px;
}

.ForgetPassword{
    padding: 0;
    color: #A623EF;
    font-size: 12px;
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
}

.Copyright{
  display: flex;
  margin-top: 70px;
  justify-content: center;
  color: #4E5B66;
  font-size: 10px;
  letter-spacing: 1.5px;
}