.ButtonCancel, .ButtonCancel:hover{
    width: 100%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--nc-primary-1);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #3399FF;
    opacity: 1;
    border: transparent;
    margin-right: 10px;
    margin-left: auto;
    justify-items: center;
    padding: 0;
}

.ButtonOK, .ButtonOK:hover{
    width: 100%;
    height: 40px;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border: transparent;
    margin-right: 0px;
    justify-items: center;
    padding: 0;
}

.ModalTitle{
    text-align: center;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-bottom: 2vh;
    padding-top: 2vh;
}

.ModalSubTitle{
    text-align: center;
    font: normal normal bold 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #9F9F9F;
    opacity: 1;
    margin-bottom: 3vh;
}