.ButtonCancel, .ButtonCancel:hover{
    width: fit-content;
    min-width: 100px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--nc-primary-1);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #3399FF;
    opacity: 1;
    border: transparent;
    margin-right: 10px;
    margin-left: auto;
    justify-items: center;
    padding: 0 10px;
}

.ButtonCheck, .ButtonCheck:hover{
    width: fit-content;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3399FF;
    border-radius: 5px;
    opacity: 1;
    color: var(--nc-primary-1);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #3399FF;
    padding: 0 10px;
}

.ButtonNext, .ButtonNext:hover{
    width: fit-content;
    min-width: 100px;
    height: 40px;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border: transparent;
    margin-right: 0px;
    justify-items: center;
    padding: 0 10px;
}

.ButtonNextGrey, .ButtonNextGrey:hover{
    width: fit-content;
    min-width: 100px;
    height: 40px;
    background: grey 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    border: transparent;
    margin-right: 0px;
    justify-items: center;
    padding: 0 10px;
}

.ModalTitle{
    text-align: left;
    font: normal normal bold 20px Roboto;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    opacity: 1;
    margin-bottom: 0vh;
}

.ModalSubTitle{
    text-align: left;
    font: normal normal medium 12px Roboto;
    letter-spacing: 0.4px;
    color: #1A1A1A;
    opacity: 1;
    margin-bottom: 3vh;
}

.Input, .Input:focus, .Input:hover{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-25);
    color: var(--black);
    text-align: left;
    font: normal normal medium 14px Roboto;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #1A1A1A;
    opacity: 1;
    font-weight: bold;
}

:global(.ant-form-item-has-error) :global(.ant-input:focus), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper:focus), :global(.ant-form-item-has-error) :global(.ant-input-focused), :global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper-focused){
    box-shadow: none;
}

.LabelForm{
    display: block;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto-regular);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--grey);
    text-align: left;
    font: normal normal normal 12px Roboto;
    font-size: 12px !important;
    letter-spacing: 0.4px;
    color: #999999;
    opacity: 1;
}