.ButtonContactPerson1, .ButtonContactPerson1:hover{
    width: fit-content;
    height: 32px;
    border: 1px solid #3399FF;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #3399FF;
    margin-bottom: 30px;
    margin-right: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.ButtonAddContactPerson, .ButtonAddContactPerson:hover{
    width: fit-content;
    height: 32px;
    border: transparent;
    opacity: 1;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #3399FF;
    margin-bottom: 30px;
    margin-right: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.ButtonContactPersonDst, .ButtonContactPersonDst:hover{
    width: fit-content;
    height: 32px;
    border: 1px solid #3399FF;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0.4px;
    background: #3399FF 0% 0% no-repeat padding-box;
    color: white;
    margin-bottom: 30px;
    margin-right: 10px;
}