.ButtonAdd, .ButtonAdd:hover{
    background: var(--nc-primary-1) 0% 0% no-repeat padding-box;
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    width: fit-content;
    height: 40px;
}

@media screen and (max-width: 1024px) {
    .ButtonAdd{
        margin-left:0px !important;
        margin-top:10px;
    }

}