.ButtonDelete, .ButtonDelete:hover{
    width: 100px;
    height: 40px;
    background: #4E5B66 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}