.ButtonCancel, .ButtonCancel:hover{
    width: 150px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-56);
    color: var(--nc-primary-1);
    text-align: center;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0.56px;
    color: #3399FF;
    opacity: 1;
    border: transparent;
    margin-right: 10px;
    margin-left: auto;
}