.ButtonCheck, .ButtonCheck:hover{
    background: #3399FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 12px Roboto;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    padding: 3px 10px;    
    width: fit-content;
    height: fit-content;
    margin-left: -58px;
    margin-bottom: 2px;
}