@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 32px;
  line-height: 32px;
}

[data-theme="compact"] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin-bottom: 8px;
  border: 0;
  overflow: hidden;
}

.ant-drawer-body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.ant-drawer-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1890ff;
}

.ant-drawer-body {
  scrollbar-color: #1890ff #f5f5f5;
  scrollbar-width: thin;
}

.ant-form-item {
  margin-bottom: 20px;
}

.ant-form-item-with-help {
  margin-bottom: 0;
}

.ant-form-item-explain,
.ant-form-item-extra {
  min-height: 20px;
  line-height: 1;
}

.ant-descriptions-item-container .ant-descriptions-item-label,
.ant-descriptions-item-container .ant-descriptions-item-content {
  display: inline-block;
}

.ant-descriptions-item-label {
  text-align: right;
}

.ant-descriptions-row > th,
.ant-descriptions-row > td {
  padding-bottom: 8px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 4px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  padding-left: 40px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  padding: 8px 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 12px;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 32px;
  line-height: 32px;
}

.ant-layout-sider-trigger {
  cursor: default;
}

.ant-list-item {
  padding: 4px 0;
}
