.Content::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.Content::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #f5f5f5;
}

.Content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1890ff;
}

.Content {
  scrollbar-color: #1890ff #f5f5f5;
  scrollbar-width: thin;
}

.HeaderMenu {
  position: absolute;
  padding: 30px 55px;
  text-align: left;
  font: normal normal medium 16px/28px Roboto;
  letter-spacing: 0.44px;
  color: #1A1A1A;
  opacity: 1;
}

.Link{
  color: grey;
}

.LinkActive{
  color: black;
}